

body{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    overflow-x:hidden;
    
}


.heading{
    position: relative;
    display: block;
    height: 70px;
    background-image: url('../project2/background.jpeg');
    border-radius: 5px;
    padding: 10px;
    width:940px; 
    margin-left: 300px;
    

}
.heading h3{
    text-align: center;
    font-size: 50px;
    margin: 5px;
    color: rgb(228, 202, 5);
    font-style: italic;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: center;
    
}
nav{
    position: relative;
    display: block;
    padding: 0px;
    height: 50px;
    background-color: blue;
    align-items: center;
    margin-left: 300px;
    margin-top: 0px;
    width: 940px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 5px;

    
}

nav  li{
    
    color: black;
    display: inline;
    padding-top: 20px;
    margin: 10px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-weight: 200;
    box-sizing: border-box;
    display: inline;
}
nav li:hover {
    color: white;
    cursor: pointer;
}

.dropdown{
    display: inline;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    font-weight: 200px;
    font-size: 30px;
    border: none;
}
button.dropdown-toggle{
    font-size: 20px;
    color: black;
}
.dropdown:hover{
    color: aliceblue;
    border: none;
}

.dropdownli{
    margin: 0 !important;
    padding: 0 !important;
}


#output{
    width: 940px;
    height: 600px;
    margin-left: 300px;
    overflow: hidden;
    
    
}



.imgbox{
    width:  220px;
    height: 180px;
    border-radius: 10px;
    transition: 0.25s;
}
.imgbox:hover{
    transform: scale(1.05);
    transition: 0.25s;
}
.container-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rupee{
display: flex;
justify-content: space-between
}
.wrapper{
    width: 300px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 5px;
    background-color:darkgray;
}
.rupees{
    margin: 10px 0 10px 10px;
    font-size: 18px;
    color: black;
}
.btn-cart{
    line-height: 2px;
    border-radius: 8px;
    font-size: 16px !important;
    height: 25px;
    margin-top: 10px;
    margin-right: 10px;
}
button.btn-cart:hover{
    color: red;

}

.alignside{
    display:flex;
    flex-wrap: wrap;
    background-color: black;
}
#imgsize{
    object-fit: contain;
}
.cart-page{
    width: 270px;
    min-height: 692px;
    position: absolute;
    background-color: #fff;
    right:-1000px;
    border-left: 1px solid rgb(128, 128, 128);
    transition: 0.5s;
}
.cart-open{
    right: 0;
}
.cart-amt{
    font-weight: 500;
}
#mark{
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 30px;
    color: red;
    cursor: pointer;
} 
.cart-count{
    position: absolute;
    top:8px;
 right: -15px;
    text-align: center;
    background-color: rgb(195, 192, 208);
    width: 10px;
   font-size: 10px;
    border-radius: 50%;
    padding: 10px;
    line-height: 3px;
}

.cart-active{
    right: 0;
    top: 20px;
}
.total{
    display: flex;
    justify-content: end;
    margin-top: 10px;
    margin-right: 10px;
    gap: 5px;
    font-size: 20px;
    font-weight: 600;
}


.cart-heading{
    text-align: center;
    margin: 0;
    padding: 0;
    margin-top: 10px;
}
.ruler{
    margin: 0px;
    margin-top: 10px;
}
@media screen and (max-width:599px) {
    ul li{
        font-size: 16px;
    }
    .btn{
        font-size: 16px !important;
    }
    .alignside{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width:514px) {
    ul li{
        font-size: 12px;
    }
    .btn{
        font-size: 12px !important;
    }
    .alignside{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.cart-img{
    width: 70px;
    height: 70px;
    border: 1px solid rgba(161, 159, 159,0.5); 
}
.alignname{
    display: flex;
}
input{
    width: 50px;
    height: 25px;
    background-color: rgb(192, 189, 189,0.6);
    font-weight: 600;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 5px;
}
.bag{
    margin: 0;
    font-weight: 600;
}
.adject{
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.box-div{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.price{
    font-weight: 400;
    text-align: start;
    margin: 0;
}
.trashi{
    text-align: center;
    color: red;
    cursor: pointer;
}
.scale{
    margin: 0;
}
#check-btn{
    background-color: pink;
    color: black;
    font-weight: 300;
    border: none;
    outline: none;
}
.checkout{
    display: flex;
    justify-content: end;
    margin-right: 10px;
}
h5{
    text-align: center;
    margin-top: 10px !important;
}
.idTag{
    visibility: hidden;
}
.online{
    position: absolute;
    top:-10000px;
    width: 400px;
    height: 340px;
    padding: 10px 0 0 30px;
}
.atmCard{
    z-index: 599999;
    left: 550px;
    top: 200px;
    background-color: darkolivegreen;
    border-radius: 15px;
}

.card{
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background: transparent;
}
.cardNum{
    border: 1px solid white;
    width: 300px;
    margin: 0;
    padding: 0;
}
.cardHeading{
    padding: 0;
    margin: 0;
    color: #fff;
    font-weight:400;
}
.cardInp{
    width: 70%;
    height: 90%;
    color: white;
    font-size: 16px;
    border-radius: 0px;
    background: transparent;
}
::-webkit-scrollbar{
    display: none;
}


.spinner{
    -moz-appearance: textfield;
}
.spinner::-webkit-inner-spin-button,#spinner::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
.mdiv{
    border: 1px solid white;
}
.cv{
    width: 100px;
   background: transparent;
    border-radius: 0;
    border:1px solid #fff;
    color: #fff;
    font-size: 20px;
    padding: 10px;
}
.mcv{
    background-color: transparent;
    color: #fff;
    font-size: 20px;
}
